{
  "bot_token": "token",
  "mongodb_uri": "",
  "bot_prefix": ";",
  "test_guilds": [
    "server_ids"
  ],
  "development": false,
  "random_stuff_api_key": "Random Stuff API Key",
  "apod_api_key": "NASA API Key"
}
